body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container1{
display: flex;
margin: 100px;
}
.half-width{
    width: 50%;
    margin-right: 150px;
}
h1{
   font-size: 50px;
   font-weight: bold;
}
h3{
    font-size: 30px;
}
.mission{
    border-left: 5px solid red;
    padding-left: 20px;
}
.mission-image{
    width: 420px;
    height: 400px;
    background-image: url(images/shapes/shape-4.png);
    
}
.button{
    text-decoration: none;
    font-weight: 900;
    color: whitesmoke;
    background-image: linear-gradient(blue, cyan);
    border-radius: 5px;
    padding: 10px 30px;
}
.oranged{
color: orange;
}
.center{
    text-align: center;
}
.container2{
    display: flex;
    margin: 50px;
}
.container2 img{
    width: 141px;
    height: 141px;
    margin: 0px;
}
#part1{
    border-radius: 25px;
    margin: 0px 50px;
    background-color: #4F9DA61A;
    padding: 15px 30px;
    text-align: justify;
}
#part2{
    border-radius: 25px;
    margin: 0px 50px;
    background-color: #FF59591A;
    padding: 15px 30px;
    text-align: justify;
}
#part3{
    border-radius: 25px;
    margin: 0px 50px;
    background-color: #FFF4D6;  
    padding: 15px 30px; 
    text-align: justify;
}
.container3{
    display: flex;
    margin: 100px;
    background-image: url(images/shapes/shape-7.png);
    background-repeat: no-repeat;
}
.container4{
    display: flex;
    margin: 100px;
    background-image: url(images/shapes/shape-5.png);
    background-repeat: no-repeat;
}
footer{
    padding-top: 15px;
    padding-bottom: 25px;
    color: blanchedalmond;
    background-color: black;
}
.container5{
    display: flex;
    margin-left: 230px;
    box-shadow: 10px 20px 30px gray;
    border-radius: 20px;
    margin-right: 230px;
    margin-bottom: 100px;
}
.Extra{
    padding:30px 100px;
}
